:root {
  --main: #3dcfd3;    
}
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
.seperate{
  height: 100px;
}

                                      /* Start Navbar */
.navbar {
  background:black;
  min-height: 100px;    
}
.navbar .navbar-nav .nav-link {
  color: rgb(248, 248, 248);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--main);
}

.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
  }
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--main);
}
                                        /* End Navbar */
                                        /* first section start  */
.first-section{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: black;
  clip-path:  polygon(72% 88%, 100% 100%, 100% 0, 0 0, 0 100%);
}
.card-one {
  background-color: transparent;
  color: white;
  width: 100%;
  height: 600px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.info div{
  padding: 0 10px;
}
  h2{
  font-weight: 900;
  font-size: clamp(16px, 3vw, 32px);
  color: var(--main);
}

span{
  font-size: 2rem;
  color: white;
}
.animated::after{
  font-size: 2rem;
  content: "Developer";
  color: var(--main) ;
  animation: about  5s linear infinite;
}
@keyframes about {
  0%, 100%{ content: "Freelancer";

  }
  50%{ content: "Designer";

  }
}


#CV, #CV a{
  color: var(--main);
  text-decoration: none;
  background-color: black;
  border-color: var(--main);
  padding: 5px;
  margin-top: 10px;
}
                                        /* first section end */
                                        /* second section start  */
#about{
  text-align: center;
  padding: 10px 10px 0 10px;
}
.card-two{
  min-height: 600px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  justify-content: center;
  align-content: center;
  padding: 20px;
}
.me{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  font-size: 200%;
}
h3 span{
  color: var(--main);
}

img {
  max-width: 100%;
  max-height: 100%;
}
.links .fa-github{
  color: black;
}
.links .fa-instagram{
  color: #da4172;
}
.links a, .links {
  padding: 10px;
  font-size: 90%;
}
.picture .img{
  max-width: 118%;
  margin-top: -86px;
  margin-left: -10px;
  height: 854px;
  width: 324px;
  background: url(images/pp4.png) top var(--main);
}
                                      /* second section end */
                                      /* third section start  */
.card-three{
  min-height: 600px;
  background-color: #eee;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 20px;
  justify-content: center;
  padding: 20px;
}
.head{
  display: flex;
  justify-content: center;
  align-items: center;
}
.edu-cards{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  justify-content: center;
  column-gap: 20px;
}
.c{
  display: grid;
  background-color: #88d9dc;
  width: 300px;
  height: 500px;
  padding: 20px;
  margin: 10px 0;
  border-radius: 30px;
  align-items: center;
  justify-items: center;
}
.c .range{
  width: 200px;
}
.c .rangeValue {
  color: black;
}
.c button{
  background-color: var(--main);
  padding: 10px;
  text-decoration: none;
  border-radius: 10% /50%;
  color: white;
  box-shadow: 5px 5px black;
  box-shadow: 7px 9px 13px black;
  border: none;
}
.c a{
  background-color: var(--main);
  padding: 10px;
  text-decoration: none;
  color: white;
}
.c .range{
  background: white;
}
.c .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  border: 4px solid var(--main);
  box-shadow: -407px 0 0 400px black;
}
.c:hover{
  box-shadow: 9px 5px black;
} 
                                        /* third section end  */
                                        /* forth section start  */
.forth-section{
  background: url(images/cover.jpg) no-repeat bottom;
  filter: grayscale(500%);
  min-height: 600px;
  clip-path: polygon(50% 85%, 100% 68%, 100% 0, 0 0, 0% 100%);
  display: grid;
  grid-template-columns: auto ;
  justify-content: center;
  align-items: center;
}
.freelance{
  display: grid;
  justify-items: start;
}
.freelance h4{
  color: white;
  font-size: calc(100% *2);
}
.freelance p{
  color: white; 
}
                                        /* forth section end  */
                                        /* fifth section start  */
.fifth-section{
  display: grid;
  grid-template-columns: auto;
  gap: 40px;
  min-height: 600px;
  justify-items: center;
  align-items: center;
  padding-bottom: 40px;
}
.rangeValue {
  color: #999;
  font-weight: 400;
}
.range {
  width: 600px;
  pointer-events:none;
  height: 15px;
  -webkit-appearance: none;
  background: rgb(0, 0, 0);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 20px 18px 20px rgb(0 0 0);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--main);
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px var(--main);
}
                                            /* fifth section end  */
                                            /* sixth section start  */
.sixth-section{
  min-height: 600px;
  background-color: #eeeeee;
}
.flip-cards{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 20px;
  column-gap: 20px;
  margin: 45px;
}
.flip-card {
  background-color: transparent;
  height: 400px;
  width: 100%;
  margin-bottom: 40px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: black;
  color: white;
}
.flip-card-back {
  display: grid;
  padding: 10px;
  grid-template-columns: auto;
  background: url(images/a04fb45f-ce72-45f1-b492-ea6eeef28a6e.jpg);
  transform: rotateY(180deg);
  align-items: center;
  align-content: space-evenly; 
}
.flip-card-back a{
  text-decoration: none;
  color: white;
}
.title{
  text-align: center;
  padding-top: 50px;
}
.card-four{
  min-height: 600px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 20px;
  justify-content: center;
  padding: 20px;
}
.flip-card-back{
  padding: 10px; 
  }
                                            /* sixth section end  */
                                            /* footer starts */
footer{
  height: 150px;
  background-color: black;
  color: white;
  font-size: 70%;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.icons a, .icons {
  color: white;
  padding: 10px;
}
.logo{
  width: 100px;
  height: 30px;
}
                                             /* footer ends  */
@media screen and (max-width: 767px) {
  .information,
  .me,
  .edu-cards, 
  .forth-section,
  .fifth-section,
  .sixth-section,
  .flip-cards{
    grid-template-columns: 100%;
    text-align: center;
    font-size: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px)  {
  .information,
  .card-two,
  .me,
  .edu-cards, 
  .forth-section,
  .sixth-section,
  .flip-cards{
    grid-template-columns: auto auto;
    text-align: center;
    font-size: 100%;
  }
}
@media screen  and (max-width: 424px)  {
  .card-two{
    grid-template-columns: auto ;
    text-align: center;
    font-size: 100%;
  }
  .range{
    width: 250px;

  }
  
}
@media screen and (min-width: 425px) and (max-width: 767px)  {
  .card-two{
    grid-template-columns: auto auto;
    text-align: center;
    font-size: 100%;
  }
  .range{
    width: 350px;

  }
}
@media screen and (min-width: 1300px) and (max-width: 1920px)  {
  .edu-cards{
    grid-template-columns: auto auto auto auto;
    text-align: center;
    font-size: 100%;
  }
}
@media screen  and (min-width:370px) and (max-width:378px)   { 
  .picture .img{
    width: 385px;
  } 
}

